.search-box {
  width: 100%;
  max-width: 400px;
}

.search-box___form {
  background: var(--bg-secondary);
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  width: 100%;
  border: 1px solid transparent;
  font-size: 1rem;
}

.search-box___form:hover {
  border: 1px solid var(--color-primary);
}

.search-box___form:focus-within {
  border: 1px solid var(--color-accent-primary);
}

.search-box__input {
  flex: 1;
  outline: none;
  color: var(--color-primary);
}

.search-box__button {
  width: 28px;
  padding-left: 0.5rem;
}

.search-box__button,
.search-box__input {
  height: 28px;
  border-style: none;
  background: transparent;
}

.search-box__hint {
  font-size: 0.8rem;
  color: var(--color-primary);
  padding-top: 0.5rem;
}
