.list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  list-style: none;
  gap: 1rem;
  padding: 0;
}

.list__item {
  background: var(--bg-secondary);
  border-radius: 4px;
  flex-flow: column nowrap;
  gap: 12px;
  cursor: pointer;
  padding: 0.5rem;
}
